.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.form {
  width: 300px;
  min-height: 300px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 2rem;
}

.link {
  margin-top: 30px;
}